{% load static %}
    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
      <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
      <div class="canvas-close">
        <i class="icon_close"></i>
      </div>
      <!-- <div class="search-icon search-switch">
        <i class="icon_search"></i>
      </div> -->
      <div class="header-configure-area">
        <div class="language-option">
          <img src="{% static 'img/flag.jpg' %}" alt="" />
          <span>ENG<i class="fa fa-angle-down"></i></span>
          <div class="flag-dropdown">
            <ul>
              <li><a href="/uzb">Uzb</a></li>
              <li><a href="/rus">Rus</a></li>
            </ul>
          </div>
        </div>
        <a href="/pages/apply.html" class="bk-btn">Apply now</a>
      </div>
      <nav class="mainmenu mobile-menu">
        <ul>
          <li>
            <a href="/pages/about-into.html">About INTO</a>
            <ul class="dropdown">
              <li><a href="/pages/success-with.html">Success with INTO</a></li>
              <li><a href="/pages/blog.html">Blog</a></li>
              <li><a href="/pages/faq.html">FAQ</a></li>
            </ul>
          </li>
          <li>
            <a href="/pages/study-abroad.htmlli">Study Abroad</a>
            <ul class="dropdown">
              <li><a href="/pages/uk.html">UK</a></li>
              <li><a href="/pages/us.html">US</a></li>
              <li><a href="/pages/australia.html">Australia</a></li>
              <li><a href="/pages/language.html">Language</a></li>
              <li><a href="/pages/culture.html">Culture</a></li>
            </ul>
          </li>
          <li>
            <a href="/pages/study-programs.html">Study Programs</a>
            <ul class="dropdown">
              <li><a href="/pages/choice-page.html">Choice</a></li>
            </ul>
          </li>
          <li><a href="/pages/universities.html">Universities</a></li>
          <li>
            <a href="/pages/admissions.html">Admissions</a>
            <ul class="dropdown">
              <li><a href="#">Fees</a></li>
              <li><a href="#">Scholarships</a></li>
              <li><a href="#">Visa pre-arrival service</a></li>
            </ul>
          </li>
          <li>
            <a href="/pages/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-tripadvisor"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
      <ul class="top-widget">
        <li><i class="fa fa-phone"></i> (12) 345 67890</li>
        <li><i class="fa fa-envelope"></i> into.colorlib@gmail.com</li>
      </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <ul class="tn-left">
                <li><i class="fa fa-phone"></i> +(123)456-789</li>
                <li><i class="fa fa-envelope"></i> into.study@gmail.com</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="tn-right">
                <div class="top-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-tripadvisor"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <a href="/pages/apply.html" class="bk-btn">Apply now</a>
                <div class="language-option">
                  <img src="{% static 'img/flag.jpg' %}" alt="" />
                  <span>ENG<i class="fa fa-angle-down"></i></span>
                  <div class="flag-dropdown">
                    <ul>
                      <li><a href="/uzb">Uzb</a></li>
                      <li><a href="/rus">Rus</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="./index.html">
                  <img src="{% static 'img/topshir.png' %}" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="nav-menu">
                <nav class="mainmenu">
                  <ul>
                    <li>
                      <a href="/pages/about-into.html">About INTO</a>
                      <ul class="dropdown">
                        <li><a href="/pages/success-with.html">Success with INTO</a></li>
                        <li><a href="/pages/blog.html">Blog</a></li>
                        <li><a href="/pages/faq.html">FAQ</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/pages/study-abroad.html">Study Abroad</a>
                      <ul class="dropdown">
                        <li><a href="/pages/uk.html">UK</a></li>
                        <li><a href="/pages/us.html">US</a></li>
                        <li><a href="/pages/australia.html">Australia</a></li>
                        <li><a href="/pages/language.html">Language</a></li>
                        <li><a href="/pages/culture.html">Culture</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/pages/study-programs.html">Study Programs</a>
                      <ul class="dropdown">
                        <li><a href="/pages/choice-page.html">Choice</a></li>
                      </ul>
                    </li>
                    <li><a href="/pages/universities.html">Universities</a></li>
                    <li>
                      <a href="/pages/admissions.html">Admissions</a>
                      <ul class="dropdown">
                        <li><a href="#">Fees</a></li>
                        <li><a href="#">Scholarships</a></li>
                        <li><a href="#">Visa pre-arrival service</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/pages/contact.html">Contact</a>
                    </li>
                  </ul>
                </nav>
                <!-- <div class="nav-right search-switch">
                  <i class="icon_search"></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->