{% load static %}
{% load mytags %}
{% load i18n %}
    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
      <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
      <div class="canvas-close">
        <i class="icon_close"></i>
      </div>
      <!-- <div class="search-icon search-switch">
        <i class="icon_search"></i>
      </div> -->
      <div class="header-configure-area">
        <div class="language-option">
           {% get_current_language as lang %}
				   {% get_available_languages as langs %}
                  <span> {{ lang }} <i class="fa fa-angle-down"></i></span>
                  <div class="flag-dropdown">
                    <ul>
                      	{% for l in langs %}
						 {% if l.0 != lang %}
                            <li><a href="{% get_url_lang request l.0 %}"> {{ l.0 }} </a></li>
                         {% endif %}
						{% endfor %}
                    </ul>
                  </div>
        </div>
        <a href="{% url 'uni:apply' %}" class="bk-btn">Apply now</a>
      </div>
      <nav class="mainmenu mobile-menu">
        <ul>
          <li>
            <a href="{% url 'pages:about' %}">About INTO</a>
            <ul class="dropdown">
              <li><a href="{% url 'pages:success' %}">Success with INTO</a></li>
              <li><a href="{% url 'uni:blogs' %}">Blog</a></li>
              <li><a href="{% url 'pages:FAQ' %}">FAQ</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'pages:study-abroad' %}">Study Abroad</a>
            <ul class="dropdown">
              <li><a href="{% url 'pages:uk' %}">UK</a></li>
              <li><a href="{% url 'pages:usa' %}">US</a></li>
              <li><a href="{% url 'pages:australia' %}">Australia</a></li>
              <li><a href="{% url 'pages:language' %}">Language</a></li>
              <li><a href="{% url 'pages:culture' %}">Culture</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'pages:study-programs' %}">Study Programs</a>
            <ul class="dropdown">
              <li><a href="{% url 'pages:choice-into' %}">Choice</a></li>
            </ul>
          </li>
          <li><a href="{% url 'uni:stundets_universities' %}">Universities</a></li>
          <li>
            <a href="{% url 'pages:admissions' %}">Admissions</a>
<!--            <ul class="dropdown">-->
<!--              <li><a href="#">Fees</a></li>-->
<!--              <li><a href="#">Scholarships</a></li>-->
<!--              <li><a href="#">Visa pre-arrival service</a></li>-->
<!--            </ul>-->
          </li>
          <li>
            <a href="{% url 'pages:contacts' %}">Contact</a>
          </li>
           <li>
               <a href="login.html">Login</a>
           </li>
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-tripadvisor"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
      <ul class="top-widget">
        <li><i class="fa fa-phone"></i>+ 998 (95) 123 44 00 </li>
        <li><i class="fa fa-envelope"></i> topshiruz@gmail.com</li>
      </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <ul class="tn-left">
                  <li><i class="fa fa-phone"></i>+ 998 (95) 123 44 00 </li>
                  <li><i class="fa fa-envelope"></i> topshiruz@gmail.com</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="tn-right">
                <div class="top-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-tripadvisor"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <a href="{% url 'uni:apply' %}" class="bk-btn">Apply now</a>
                <div class="language-option">
                  {% get_current_language as lang %}
				   {% get_available_languages as langs %}
                  <span> {{ lang }} <i class="fa fa-angle-down"></i></span>
                  <div class="flag-dropdown">
                    <ul>
                      	{% for l in langs %}
						 {% if l.0 != lang %}
                            <li><a href="{% get_url_lang request l.0 %}"> {{ l.0 }} </a></li>
                         {% endif %}
						{% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="{% url 'pages:home' %}">
                  <img src="{% static 'img/topshir.png' %}" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="nav-menu">
                <nav class="mainmenu">
                  <ul>
                    <li>
                      <a href="{% url 'pages:about' %}">About INTO</a>
                      <ul class="dropdown">
                        <li><a href="{% url 'pages:success' %}">Success with INTO</a></li>
                        <li><a href="{% url 'uni:blogs' %}">Blog</a></li>
                        <li><a href="{% url 'pages:FAQ' %}">FAQ</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="{% url 'pages:study-abroad' %}">Study Abroad</a>
                      <ul class="dropdown">
                       <li><a href="{% url 'pages:uk' %}">UK</a></li>
                      <li><a href="{% url 'pages:usa' %}">US</a></li>
                      <li><a href="{% url 'pages:australia' %}">Australia</a></li>
                      <li><a href="{% url 'pages:language' %}">Language</a></li>
                      <li><a href="{% url 'pages:culture' %}">Culture</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="{% url 'pages:study-programs' %}">Study Programs</a>
                      <ul class="dropdown">
                        <li><a href="{% url 'pages:choice-into' %}">Choice</a></li>
                      </ul>
                    </li>
                    <li><a href="{% url 'uni:stundets_universities' %}">Universities</a></li>
                    <li>
                      <a href="{% url 'pages:admissions' %}">Admissions</a>
<!--                      <ul class="dropdown">-->
<!--                        <li><a href="#">Fees</a></li>-->
<!--                        <li><a href="#">Scholarships</a></li>-->
<!--                        <li><a href="#">Visa pre-arrival service</a></li>-->
<!--                      </ul>-->
                    </li>
                    <li>
                      <a href="{% url 'pages:contacts' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                     <li>
                      <a href="{% url 'auth-us:profile' %}"><i class="fa fa-user" style="margin-left: 4px;padding-right: 4px"></i>Profile</a>
                    </li>
                    {% else %}
                    <li>
                      <a href="{% url 'auth-us:login' %}">Login</a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
                <!-- <div class="nav-right search-switch">
                  <i class="icon_search"></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->