{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!-- About Main section -->
    <div class="body-container">
      <div class="page-section">
        <div
          class="about-image"
          style="background-color: #CBCBCB; text-align: center"
        >
          <img style="max-width: 100%;"
            src="https://ctfimages.intoglobal.com/xw2h6mjophtz/1WCdgUNcdqcj1mHAX6FSDt/a86d25c02aa0554daaf697d715902973/_PAJ6921_edit.jpg?q=75&fm=webP&h=370&w=1110&fit=fill"
            alt="About into img"
            class="img-of-about"
          />
        </div>
        <div
          class="orderedComponent">
          <div class="row page-text-block-container" style="margin: 0 auto !important;">
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">
                About INTO - the international study specialists
              </h1>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Every year we help thousands of international students from
                around the world achieve their dream of studying in the UK, US
                and China. We work with universities to create specialist
                programs designed specifically for international students.
              </p>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                We offer exceptional support services before, during and after
                your studies with us, so you can concentrate on your success
                story while we take care of the practicalities. You’re
                guaranteed a great overseas study experience with INTO.
              </p>
              <a href="#" class="find-university">Find my university</a>
            </div>
          </div>
        </div>
        <!-- ignite your career -->
        <div
          class="card mb-3" 
          id="ignite-career"
        >
          <div class="row g-0" style="flex-wrap: nowrap !important;">
            <div class="col-md-3" style="padding-left: 0px;">
              <img
                src="https://ctfimages.intoglobal.com/xw2h6mjophtz/218HvZkaDQAtL257n4t4ai/0fcf8880748570f91e792d5585329756/IS-DECJAN23-promo-card-image.jpg?q=75&fm=webP&h=250&w=350&fit=fill"
                class="img-fluid rounded-start"
                alt="Ignite your career image"
              />
            </div>
            <div class="col-md-9" style="padding-left: 1px; padding-right: 1px;">
              <div class="card-body">
                <h5 class="card-title" id="ignite-career-title">
                  Ignite your career
                </h5>
                <p class="card-text" id="ignite-career-text">
                  Launch your future career today, by studying with INTO
                </p>
                <button
                  type="button"
                  class="btn btn-success"
                  id="find-universe"
                  style="
                    --bs-btn-padding-y: 0.5rem;
                    --bs-btn-padding-x: 2rem;
                    --bs-btn-font-size: 0.65rem;
                  "
                >
                  Apply today
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Supporting you in your journey -->
        <div
          class="orderedComponent">
          <div class="row page-text-block-container">
            <div class="col-12 col-lg-8 col-xl-8">
              <h2 style="font-size: 30px; line-height: 36px; color: #333">
                Supporting you in your journey to success
              </h2>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                We have expert support teams that will help you from the moment
                you apply, including:
              </p>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                <strong
                  >Enrollment Services Counselors and Student Support
                  Advisors</strong
                >
                are here to help you before you leave your home country. They
                will answer general enquiries before you apply, provide you with
                information about studying abroad with INTO, and help you choose
                the right course for you.
              </p>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                <strong>The Student Services team</strong> at your INTO Center
                is responsible for your student experience. This team ensures
                that you settle into your new home, make friends and have a good
                social life between studies. You can also enquire about
                accommodation and visas and receive advice about your welfare.
              </p>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                <strong
                  >International Progression and Student Placement
                  Officers</strong
                >
                at your INTO Center will support you in applying to university.
                They will work with you to find the perfect university and
                degree program for your needs and future ambitions, running
                workshops, counseling sessions and trips to schools.
              </p>
              <a href="#" class="find-university">Find my course</a>
            </div>
          </div>
        </div>
        <!-- Video -->
        <div class="l-video-block-container">
          <video
            poster="//ctfimages.intoglobal.com/xw2h6mjophtz/2RbhizNReLMCkkFFIl3pKx/8ce96072b1cc4faf1988d2f52d968480/Success_story_2021.png?q=70&amp;w=1100"
            id="university-video"
            preload="metadata"
            controls=""
            width="100%"
            src="https://media.intostudy.com/video/upload/f_auto,q_auto/v1602073638/Marketing_Team/UK/Videos/Student_Support/EN/Begin_YOUR_success_story_with_INTO_in_2021.mp4"
          ></video>
        </div>
        <!-- committed to your success -->
        <div
          class="orderedComponent">
          <div class="row page-text-block-container">
            <div class="col-12 col-lg-8 col-xl-8">
              <h2 style="font-size: 30px; line-height: 36px; color: #333">
                Committed to your success
              </h2>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                The qualifications, experiences and skills you develop while
                studying with INTO will give you a solid foundation for the
                future. We've helped thousands of INTO students graduate and
                find rewarding and successful careers in their home countries
                and abroad. Are you ready to join them?
              </p>
              <a href="#" class="find-university">Talk to us</a>
            </div>
          </div>
        </div>

         <!-- cards end section -->
         <div class="row row-cols-1 row-cols-md-3 g-4" id="about-cards">
            <div class="col" style="margin-bottom: 15px;">
              <div class="card h-100">
                <img src="https://ctfimages.intoglobal.com/xw2h6mjophtz/3VJgby2q5A4TdjMgYNbpAF/632e1069710361e6b7e312e13ef5f0a2/59497.jpg?q=75&fm=webP&h=250&w=350&fit=fill" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Why choose INTO in the UK?</h5>
                  <p class="card-text">Read more about how INTO helps you study abroad in the UK.</p>
                  <a href="#" class="find-university">Find out more</a>
                </div>
              </div>
            </div>
            <div class="col" style="margin-bottom: 15px;">
              <div class="card h-100">
                <img src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2bkqshmJQuYyfvHrQWFSZ8/98cea716d6ece8392d0b32b08a916f37/09232019_OutdoorPatio_BSC_086.jpg?q=75&fm=webP&h=250&w=350&fit=fill" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Why choose INTO in the US?</h5>
                  <p class="card-text">Read more about how INTO helps you study abroad in US.</p>
                  <a href="#" class="find-university">Find out more</a>
                </div>
              </div>
            </div>
            <div class="col" style="margin-bottom: 15px;">
              <div class="card h-100">
                <img src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2PczBPHJy2WfjSuz7qYGwE/1e8d533a661aef0d9ed872f75be8188c/Australia-Generic.jpg?q=75&fm=webP&h=250&w=350&fit=fill" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Why choose INTO in the Australia?</h5>
                  <p class="card-text">Read more about how INTO helps you study abroad in Australia.</p>
                  <a href="#" class="find-university">Find out more</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

{% endblock %}