{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!-- About Main section -->
    <div class="body-container">
      <div class="page-section">
        <div
          class="about-image"
          style="background-color: #cbcbcb; text-align: center"
        >
          <img
            style="max-width: 100%"
            src="https://ctfimages.intoglobal.com/xw2h6mjophtz/3Emaslo5iHSVKKNH9fh2iX/fc96d0b13e6706e0c8f2c41eddd29d1b/admissions-page-header2.jpg?q=75&fm=webP&h=370&w=1110&fit=fill"
            alt="About into img"
            class="img-of-about"
          />
        </div>
        <div class="orderedComponent">
          <div
            class="row page-text-block-container"
            style="margin: 0 auto !important"
          >
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">
                Our Admissions team is here to help you – apply now
              </h1>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                EThe application process to study abroad with INTO is simple.
                Here's how it works...
              </p>

              <a href="#" class="find-university">Let's get started</a>
            </div>
          </div>
        </div>

        <!-- Entry requirements -->
        <div class="orderedComponent">
          <div class="row page-text-block-container">
            <div class="col-12 col-lg-8 col-xl-8">
              <h2 style="font-size: 30px; line-height: 36px; color: #333; margin-top: 28px;">
                Entry requirements
              </h2>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Didn't get the grades to apply directly to university? Need a
                bit of support adjusting to the UK, US or Australian education
                system? Don't worry, we can help! An undergraduate or
                postgraduate pathway program can be the perfect route to a
                degree.
              </p>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                The grades you need will vary depending on the university you
                choose and the type of degree you want to study. Individual
                course entry requirements are listed on every course page, but
                the typical grades for entry can be found below:
              </p>
              <ul style="padding-left: 17px; margin-bottom: 13px;">
                <li><a href="#" style="font-size: 18px; text-decoration: underline !important; color: #005d60;">Typical grades for entry to our UK partners</a></li>
                <li><a href="#" style="font-size: 18px; text-decoration: underline !important; color: #005d60;">Typical grades for entry to our US partners</a></li>
              </ul>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Not sure you have the right qualifications to study? Chat to one
                of our friendly team of advisors to discover your options.
              </p>
              <a href="#" class="find-university">Send us a message</a>
            </div>
          </div>
          <div class="find-my-course-section" style="width: 87%; margin-top: 20px;">
            <p style="color: #fff;font-size: 18px; ">Find out more</p>
            <a href="#" class="link-container-row">Interested in fees and finance?</a>
          </div>
          <div class="find-my-course-section" style="width: 87%; margin-top: 20px; margin-bottom: 15px;">
            <p style="color: #fff;font-size: 18px; ">Find your course</p>
            <a href="#" class="link-container-row">Discover our study options</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}