{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- filter opening bar mobile menu -->
<div id="myNav" class="mobile-search-bar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
    >&times;</a
    >
    <div class="overlay-content">
        <div class="search-filters-desktop">
            <h4 class="filter-class">Filter by</h4>
            <hr>
            <h4 class="filter-class">Country</h4>
             {% for country in country %}
                 <div class="class-check-country" onclick="addUrlParameter('country', '{{ country.pk }}')" >
                    <input
                      type="checkbox"
                      id="{{ country.pk }}"
                      name="{{ country }}"
                      {% if request.GET.country == country.pk|stringformat:'i' %}checked{% endif %}

                    /><label class="" for="{{ country.pk }}"><span class=""> {{ country }}</span></label>
                  </div>
                {% endfor %}
            <h4 class="filter-class">Study Level</h4>
           {% for level in level %}
                    <div class="class-check-country" onclick="addUrlParameter('level', '{{ level.pk }}')">
                        <input  type="checkbox"
                                id="{{ level.pk }}"
                                name="{{ level }}"
                                {% if request.GET.level == level.pk|stringformat:'i' %}checked{% endif %}
                                />
                        <label class="" for="{{ level.pk }}"><span class="">{{ level }}</span></label>
                    </div>
            {% endfor %}

            <h4 class="filter-class">University</h4>
            {% for admission in admission %}
                <div class="class-check-country" onclick="addUrlParameter('admission', '{{ admission.pk }}')">
                    <input
                            type="checkbox"
                            id="{{ admission.pk }}"
                            name="{{ admission }}"
                            {% if request.GET.admission == admission.pk|stringformat:'i' %}checked{% endif %}
                    /><label
                        class=""
                        for="city-university-of-london"><span class="">{{ admission }}</span></label>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

<!-- About Main section -->
<div class="body-container" id="apply-container">
    <div class="row">
        <div class="col-lg-3 pt-2">
            <div id="left-sidebar">
                <h4 class="filter-class">Filter by</h4>
                <hr/>
            </div>
            <div class="search-filters-desktop">
                <h4 class="filter-class">Country</h4>
                {% for country in country %}
                 <div class="class-check-country" onclick="addUrlParameter('country', '{{ country.pk }}')" >
                    <input
                      type="checkbox"
                      id="{{ country.pk }}"
                      name="{{ country }}"
                      {% if request.GET.country == country.pk|stringformat:'i' %}checked{% endif %}

                    /><label class="" for="{{ country.pk }}"><span class=""> {{ country }}</span></label>
                  </div>
                {% endfor %}
                <h4 class="filter-class">Study Level</h4>
                {% for level in level %}
                    <div class="class-check-country" onclick="addUrlParameter('level', '{{ level.pk }}')">
                        <input  type="checkbox"
                                id="{{ level.pk}}"
                                name="{{ level }}"
                                {% if request.GET.level == level.pk|stringformat:'i' %}checked{% endif %}
                                />
                        <label class="" for="{{ level.pk }}"><span class="">{{ level }}</span></label>
                    </div>
                {% endfor %}
                <h4 class="filter-class">University</h4>
                {% for admission in admission %}
                <div class="class-check-country" onclick="addUrlParameter('admission', '{{ admission.pk }}')">
                    <input
                            type="checkbox"
                            id="{{ admission.pk }}"
                            name="{{ admission }}"
                            {% if request.GET.admission == admission.pk|stringformat:'i' %}checked{% endif %}
                    /><label
                        class=""
                        for="city-university-of-london"
                ><span class="">{{ admission }}</span></label
                >
                </div>
                {% endfor %}
            </div>
            <a href="/university/apply" style="">Clean filter</a>
        </div>
        <div class="col-lg-9">
            <div class="search-bar-header">
                <div class="input-group">
                    <form>
                        <input
                                type="text"
                                class="form-control"
                                name="q"
                                value="{{ request.GET.q }}"
                                placeholder="What do you want to study?"
                                aria-label="Recipient's username with two button addons">
                        <button class="button-search" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <button class="button-filter-sort">
            <span
                    style="font-size: 30px; cursor: pointer"
                    class="open-filter-bar"
                    onclick="openNav()"
            >Filter by <img src="https://search.intostudy.com/next-assets/icons/caret-circle-down-regular.svg"
                            style="width: 25px; height: 25px;" alt="Filter by">
          </span>
            </button>
            <div class="result-sort-bar">
                <h4 class="filter-class">{{ universities|length }} results</h4>
                <label for="select" style="display: flex" id="sorting-filter">
                    <span>Sort</span>
                  <div class="select-wrapper">
                        <select id="sort-by" onchange="addUrlParameter('sort', this.value)">
                            <option value="asc" {% if request.GET.sort == 'asc' %}selected{% endif %}>Sort Ascending</option>
                            <option value="desc" {% if request.GET.sort == 'desc' %}selected{% endif %}>Sort Descending</option>
                        </select>
                    </div>
                </label>
            </div>
            <!-- search results bar -->
            {% for university in universities %}
            <div class="search-results-row-result">
                <div class="university-logo-search">
                    <a href="#" class="uni-logo-link">
                        <img
                                src="{{ university.logo.url}}"
                                style="width: 100px; height: 100px"
                                alt="{{ university.title }}"
                        />
                    </a>
                </div>
                <div class="search-results-facultety-row">
                    <div class="top-content-facultety-row">
                        <h4 class="main-program-name-result">
                            {{ university.title }}
                        </h4>
                        <h5 class="text-university-place">
                            <a href="#">{{ university.country }}</a>
                        </h5>
                    </div>
                    <div class="bottom-content-option-program">
                        <h3 class="option-program-name">
                            {% for admission in university.admission.all %}
                                  <a href="#">{{ admission }}</a>
                            {% endfor %}
                        </h3>
                        <div class="link-for-apply-path">
                            <a id="international-foundation-in-humanities-and-law"
                                    href="{% url 'uni:single' slug=university.slug %}"
                                    target="_blank"
                                    class="button-path-apply"
                            >Apply</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function addUrlParameter(name, value) {
        let searchParams = new URLSearchParams(window.location.search);

        if (['country', 'level', 'admission'].includes(name)) {
             searchParams.delete('?');
        }

        if (searchParams.has(name) && searchParams.get(name) === value) {
            searchParams.delete(name);
        } else {
            searchParams.set(name, value);
        }
        window.location.search = searchParams.toString()
    }
</script>

<script>
    function openNav() {
        document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
</script>

{% endblock %}