{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <!-- About Main section -->
    <div class="body-container">
        <div class="alert alert-success" style="width: 90% !important; margin: auto !important; display: none;" id="success-message-alert">
            <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>
        <div class="page-section" style="padding-left: 40px; padding-right: 40px;">
            <!-- Validation input group -->
            <form class="row g-3 needs-validation" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                <div class="col-md-6">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <div class="invalid-feedback">
                        {{ field.errors.as_text }}
                    </div>
                </div>
                {% endfor %}
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-bottom: 1rem;">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>

{% endblock %}
