{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!-- About Main section -->
    <div class="body-container">
      <div class="page-section">
        <div
          class="about-image"
          style="background-color: #cbcbcb; text-align: center"
        >
          <img
            style="max-width: 100%"
            src="https://ctfimages.intoglobal.com/xw2h6mjophtz/5wQDtfaGyAiKgjKN0KmDuh/0f43b206250561430d7262707b18506a/adapting-to-life-abroad-hero.jpg?q=75&fm=webP&h=370&w=1110&fit=fill"
            alt="About into img"
            class="img-of-about"
          />
        </div>
        <div class="orderedComponent">
          <div
            class="row page-text-block-container"
            style="margin: 0 auto !important">
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">Adapting to life abroad</h1>
              <p
                style="font-size: 18px; line-height: 25px; margin-bottom: 25px"
              >
              Moving abroad to study is the start of an exciting adventure. You’ll make new friends and experience life in a different country. But you may also miss the familiarity of your home life. Don’t worry, you won’t be alone in feeling like this.
              </p>
              <p
                style="font-size: 18px; line-height: 25px; margin-bottom: 25px"
              >The UK, US and Australia are diverse nations, welcoming people from different faiths and cultures. Allow yourself time to adjust to this new culture and before you know it, studying abroad will become one of the most rewarding experiences of your life.English gives you access to explore multiple travel destinations and has the potential to propel your career prospects.
              </p>
            </div>
          </div>
        </div>
       
       <!-- Why study into choice center? -->
       <div class="orderedComponent">
        <div
          class="row page-text-block-container"
          style="margin: 0 auto !important"
        >
          <div class="col-12 col-lg-8 col-xl-8">
            <div class="icon-bullet-container" style="display: flex;">
              <div class="icon-bullet-icon" style="padding-right: 25px;">
                <img src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2TgUdj55H4iNhwmEUjSzEj/1643781c396637ecc972b1e4e8b78931/Icon_Rankings.svg" style="max-width: 40px; height: 50px;" alt="Star icon svg">
              </div>
              <div class="icon-bullet-text" style="padding-right: 18px; font-size: 18px !important; width: 80%;">
                <p style="font-size: 17px !important; ">
                    Top-ranked universities - 18 UK universities in the top 100 universities in the world (QS World University Rankings 2021).</p>
              </div>
            </div>
            <div class="icon-bullet-container" style="display: flex;">
              <div class="icon-bullet-icon" style="padding-right: 25px;">
                <img src="https://ctfimages.intoglobal.com/xw2h6mjophtz/3XvxTyHfcUSZS9wBwBCxw4/3391db97bba14d5b08dfb96c425141b9/World.svg" style="max-width: 40px; height: 50px;" alt="Star icon svg">
              </div>
              <div class="icon-bullet-text" style="padding-right: 18px; font-size: 18px; width: 80%;">
                <p>World-class education - recognized for high standards of teaching and research.</p>
              </div>
            </div>
            <div class="icon-bullet-container" style="display: flex;">
              <div class="icon-bullet-icon" style="padding-right: 25px;">
                <img src="https://ctfimages.intoglobal.com/xw2h6mjophtz/4GqXt4p6Z6nKvoidnzLjLb/1ffaa9cf1c0dc25d95917e0336bf41d7/Progress.svg" style="max-width: 40px; height: 50px;" alt="Star icon svg">
              </div>
              <div class="icon-bullet-text" style="padding-right: 18px; font-size: 18px; width: 80%;">
                <p>
                    Save time and money - complete your UK degree in less time.</p>
              </div>
            </div>
            <div class="icon-bullet-container" style="display: flex;">
                <div class="icon-bullet-icon" style="padding-right: 25px;">
                  <img src="https://ctfimages.intoglobal.com/xw2h6mjophtz/6vJ5t1w5zCw6gFUFao2Sc1/d429e71f50a6be2a9f40c65a08f0ce71/Icon_Graduation.svg" style="max-width: 40px; height: 50px;" alt="Star icon svg">
                </div>
                <div class="icon-bullet-text" style="padding-right: 18px; font-size: 18px; width: 80%;">
                  <p>
                    Great career prospects - graduate with a globally recognized degree.</p>
                </div>
              </div>
          </div>
        </div>
        <!-- start your free application section -->
        <div class="find-my-course-section" style="width: 87%; margin-top: 20px;">
            <p style="color: #fff;font-size: 18px; ">Start your free application to study</p>
            <a href="{% url 'uni:apply' %}" class="link-container-row">Apply now!</a>
          </div>
      </div>

      <!-- study in england text section -->
      <div class="orderedComponent">
        <div
          class="row page-text-block-container"
          style="margin: 0 auto !important"
        >
          <div class="col-12 col-lg-8 col-xl-8">
            <h1 class="h1plus">Study in England, experience a new culture
            </h1>
            <p
              style="font-size: 18px; line-height: 25px; margin-bottom: 25px"
            >
            Or Scotland or Northern Ireland. Wherever you choose to study abroad in the UK, you’ll find each of these countries are multicultural, making them diverse and exciting destinations.
            </p>
            <ul style="padding-left: 15px;">
                <li style="font-size: 18px;">Charming towns and modern cities make up this traditional yet modern nation.</li>
                <li style="font-size: 18px;">Charming towns and modern cities make up this traditional yet modern nation.</li>
                <li style="font-size: 18px;">Charming towns and modern cities make up this traditional yet modern nation.</li>
            </ul>
          </div>
        </div>
        <h1 class="h1plus" style="margin-top: 30px;">Study in the UK tips for international students </h1>
      </div>

       <!-- adapting to life abroad  -->
       <div class="card mb-3" style="max-width: 90% !important" id="ignite-career">
        <div class="row g-0">
          <div class="col-md-3">
            <img style="width: 100%;"
              src="https://ctfimages.intoglobal.com/xw2h6mjophtz/PtOnnR4kfY1f4vwMTwwub/0a93d88bf2ca6066dfa33c7895698163/Culture_Shock_page.jpg?q=75&fm=webP&h=250&w=350&fit=fill"
              class="img-fluid rounded-start"
              alt="Ignite your career image"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <p class="card-text" id="into-choice" style="color: #000; font-size: 18px;">
                Adapting to life abroad
              </p>
              <p class="card-text" id="ignite-career-text" style="color: #000; font-size: 18px;">
                Moving abroad is a big step. Make the transition to life in the UK that little bit easier.
              </p>
            </div>
            <a href="{% url 'uni:apply' %}" class="find-university">Tips to help you</a>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 90% !important" id="ignite-career">
        <div class="row g-0">
          <div class="col-md-3">
            <img style="width: 100%;"
              src="https://ctfimages.intoglobal.com/xw2h6mjophtz/5OyrrR3ZlKhLWmNCGtPuW0/1457a47da33b11029f169b46bc3e5987/Learn_English.jpeg?q=75&fm=webP&h=250&w=350&fit=fill"
              class="img-fluid rounded-start"
              alt="Ignite your career image"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <p class="card-text" id="into-choice" style="color: #000; font-size: 18px;">
                Learn a global language
              </p>
              <p class="card-text" id="ignite-career-text" style="color: #000; font-size: 18px;">
                Get ahead and stand out. Great English language skills will help you in your future career.
              </p>
            </div>
            <a href="{% url 'uni:apply' %}" class="find-university">Find out more</a>
          </div>
        </div>
      </div>
        </div>
        <!-- enjoy amazing adventures text -->
        <div class="orderedComponent">
            <div
              class="row page-text-block-container"
              style="margin: 0 auto !important"
            >
              <div class="col-12 col-lg-8 col-xl-8">
                <h1 class="h1plus">Enjoy amazing adventures</h1>
                <p
                  style="font-size: 18px; line-height: 25px; margin-bottom: 25px"
                >
                Studying abroad in the UK gives you a great chance to explore a whole new country. Discover iconic cities, historic landmarks and natural beauty.
                </p>
                <ul style="padding-left: 15px;">
                    <li style="font-size: 18px;">Charming towns and modern cities make up this traditional yet modern nation.</li>
                    <li style="font-size: 18px;">Charming towns and modern cities make up this traditional yet modern nation.</li>
                    <li style="font-size: 18px;">Charming towns and modern cities make up this traditional yet modern nation.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- invest in your future -->
          <div class="orderedComponent">
            <div
              class="row page-text-block-container"
              style="margin: 0 auto !important"
            >
              <div class="col-12 col-lg-8 col-xl-8">
                <h1 class="h1plus">Invest in your future</h1>
                <p
                  style="font-size: 18px; line-height: 25px; margin-bottom: 25px"
                >
                Studying abroad in the UK gives you a great chance to explore a whole new country. Discover iconic cities, historic landmarks and natural beauty.
                </p>
                <ul style="padding-left: 15px;">
                    <li style="font-size: 18px;">Increase your industry knowledge and skills with placement opportunities.</li>
                    <li style="font-size: 18px;">Make connections for the future with strong industry links.</li>
                    <li style="font-size: 18px;">Impress future employers with your ability to adapt to different situations, people and languages.
                        Student at graduation</li>
                </ul>
              </div>
              
            </div>
            <div class="group-link-uk" style="padding-left: 10px; margin-top: 20px; padding-bottom: 26px;">
                <a href="{% url 'uni:apply' %}" class="find-university">Search UK universities</a>
            <a href="{% url 'uni:apply' %}" class="find-university">Search programs</a>
            </div>
          </div>
          
      </div>
    </div>

{% endblock %}