{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <!-- About Main section -->
    <div class="body-container">
      <div class="page-section">
        <div
          class="about-image"
          style="background-color: #CBCBCB; text-align: center"
        >
          <img
            style="max-width: 100%"
            src="https://ctfimages.intoglobal.com/xw2h6mjophtz/3nSltEzE1HpBD3q1VYiPTV/7df720b6e50b172892f6ec07df604b6f/study-abroad-hero.jpg?q=75&fm=webP&h=370&w=1110&fit=fill"
            alt="About into img"
            class="img-of-about"
          />
        </div>
        <div class="orderedComponent">
          <div class="row page-text-block-container">
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">Study abroad - your adventure starts here</h1>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Travel to new countries. Experience different cultures. Make
                friends from all over the world. Studying abroad really is the
                opportunity of a lifetime. It’s your chance to start your
                journey.
              </p>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                You’ll also get to continue your education abroad at some of the
                world’s best universities.
              </p>
              <br />
              <h1 class="h1plus">Popular study abroad destinations</h1>
            </div>
          </div>
        </div>

        <!-- cards end section -->
        <div class="row row-cols-1 row-cols-md-3 g-4" id="about-cards">
          <div class="col" style="margin-bottom: 15px">
            <div class="card h-100">
              <img
                src="https://ctfimages.intoglobal.com/xw2h6mjophtz/3VJgby2q5A4TdjMgYNbpAF/632e1069710361e6b7e312e13ef5f0a2/59497.jpg?q=75&fm=webP&h=250&w=350&fit=fill"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Why choose INTO in the UK?</h5>
                <p class="card-text">
                  Read more about how INTO helps you study abroad in the UK.
                </p>
                <a href="#" class="find-university">Find out more</a>
              </div>
            </div>
          </div>
          <div class="col" style="margin-bottom: 15px">
            <div class="card h-100">
              <img
                src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2bkqshmJQuYyfvHrQWFSZ8/98cea716d6ece8392d0b32b08a916f37/09232019_OutdoorPatio_BSC_086.jpg?q=75&fm=webP&h=250&w=350&fit=fill"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Why choose INTO in the US?</h5>
                <p class="card-text">
                  Read more about how INTO helps you study abroad in US.
                </p>
                <a href="#" class="find-university">Find out more</a>
              </div>
            </div>
          </div>
          <div class="col" style="margin-bottom: 15px">
            <div class="card h-100">
              <img
                src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2PczBPHJy2WfjSuz7qYGwE/1e8d533a661aef0d9ed872f75be8188c/Australia-Generic.jpg?q=75&fm=webP&h=250&w=350&fit=fill"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Why choose INTO in the Australia?</h5>
                <p class="card-text">
                  Read more about how INTO helps you study abroad in Australia.
                </p>
                <a href="#" class="find-university">Find out more</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Why study abroad? -->
        <div class="orderedComponent">
          <div class="row page-text-block-container">
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">Why study abroad?</h1>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                There are so many great reasons to study abroad:
              </p>
              <ul style="margin-left: 25px">
                <li>discover amazing places</li>
                <li>gain new cultural experiences and perspectives</li>
                <li>improve your foreign language skills</li>
                <li>develop personally and professionally</li>
                <li>improve your career prospects</li>
                <li>make lifelong friends</li>
                <li>it's fun!</li>
              </ul>
              <br />
              <h1 class="h1plus">How to study abroad</h1>
            </div>
          </div>
        </div>

        <!-- ignite your career -->
        <div class="card mb-3" id="ignite-career">
          <div class="row g-0" style="flex-wrap: nowrap !important">
            <div class="col-md-3" style="padding-left: 0px">
              <img
                src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2o4AnbhN4SpDY9e3ZATbrW/cd57491536ea069167efa500b9e94825/How_to_Study_Abroad.jpg?q=75&fm=webP&h=250&w=350&fit=fill"
                class="img-fluid rounded-start"
                alt="Ignite your career image"
              />
            </div>
            <div class="col-md-9" style="padding-left: 1px; padding-right: 1px">
              <div class="card-body">
                <h5 class="card-title" id="ignite-career-title">
                  Helping you study abroad
                </h5>
                <p class="card-text" id="ignite-career-text">
                  Want to become a student abroad? From visas to study options,
                  entry requirements and more, our experienced team is here to
                  answer all your study abroad questions.
                </p>
                <button
                  type="button"
                  class="btn btn-success"
                  id="find-universe"
                  style="
                    --bs-btn-padding-y: 0.5rem;
                    --bs-btn-padding-x: 2rem;
                    --bs-btn-font-size: 0.65rem;
                  "
                >
                Study abroad support
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}