{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <!-- About Main section -->
    <div class="body-container">
      <div class="page-section">
        <div
          class="about-image"
          style="background-color: #cbcbcb; text-align: center"
        >
          <img
            style="max-width: 100%"
            src="https://ctfimages.intoglobal.com/xw2h6mjophtz/5I2P8NABB4jBN5yJHmjWsp/5100017f05ffa1dfef1561ef53c7286a/study-programs-hero-banner.jpg?q=75&fm=webP&h=370&w=1110&fit=fill"
            alt="About into img"
            class="img-of-about"
          />
        </div>
        <div class="orderedComponent">
          <div
            class="row page-text-block-container"
            style="margin: 0 auto !important"
          >
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">Choose your path to a university program</h1>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Are you interested in studying a degree program in the UK or US?
                We have hundreds of programs available, from undergraduate and
                graduate academic preparation programs to face-to-face and
                online English language courses, all specially tailored for
                international students. Explore the options below to find out
                which INTO program is most suitable for you.
              </p>
            </div>
          </div>
        </div>
        <div
          class="faq__accordian-main-wrapper"
          id="faq__accordian-main-wrapper"
        >
          <div class="faq__accordion-wrapper">
            <a class="faq__accordian-heading" href="#">UK</a>
            <div class="faq__accordion-content" style="display: none">
              <p>
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy
              </p>
            </div>
          </div>
          <hr />
          <div class="faq__accordion-wrapper">
            <a class="faq__accordian-heading" href="#">US</a>
            <div class="faq__accordion-content" style="display: none">
              <p>
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy
              </p>
            </div>
          </div>
          <hr />
          <div class="faq__accordion-wrapper">
            <a class="faq__accordian-heading" href="#">Australia</a>
            <div class="faq__accordion-content" style="display: none">
              <p>
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy
              </p>
            </div>
          </div>
          <hr />
        </div>
        <!-- graduate pathway programs -->
        <div class="orderedComponent">
          <div
            class="row page-text-block-container"
            style="margin: 0 auto !important"
          >
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">
                Graduate pathway programsGraduate pathway programs
              </h1>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Students who don't meet the requirements for direct entry to a
                Master's degree, or who want to refresh their language skills
                and knowledge, can choose from a selection of graduate study
                abroad programs, either with or without additional English
                language support, to prepare for a postgraduate degree from a UK
                or US university.
              </p>
            </div>
          </div>
        </div>
        <div
          class="faq__accordian-main-wrapper"
          id="faq__accordian-main-wrapper"
        >
          <div class="faq__accordion-wrapper">
            <a class="faq__accordian-heading" href="#">UK</a>
            <div class="faq__accordion-content" style="display: none">
              <p>
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy
              </p>
            </div>
          </div>
          <hr />
          <div class="faq__accordion-wrapper">
            <a class="faq__accordian-heading" href="#">US</a>
            <div class="faq__accordion-content" style="display: none">
              <p>
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy
              </p>
            </div>
          </div>
          <div class="find-my-course-section" style="width: 100%;">
            <a href="#" class="link-container-row">Find my course</a>
          </div>
        </div>
        
      </div>
    </div>

{% endblock %}