{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!-- About Main section -->
    <div class="body-container">
      <div class="page-section">
        <div
          class="about-image"
          style="background-color: #CBCBCB; text-align: center"
        >
          <img
            style="max-width: 100%"
            src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2RVkf0zEYeAvzqOMcG8jgi/8dc69eccdd143f7eab56ed949ed225e1/Success_page-hero.jpg?q=75&fm=webP&h=370&w=1110&fit=fill"
            alt="About into img"
            class="img-of-about"
          />
        </div>
        <div class="orderedComponent">
          <div
            class="row page-text-block-container"
            style="margin: 0 auto !important"
          >
            <div class="col-12 col-lg-8 col-xl-8">
              <h1 class="h1plus">Success with INTO – a world of opportunity</h1>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Every year, around 14,000 students choose INTO. By studying with
                us, you can fulfil your ambition of achieving a degree from a
                top UK, US or Australian university and take your first steps
                towards your dream career.
              </p>
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                With a wide choice of subject areas to progress to after
                completing your INTO program, you can find the perfect pathway
                to your chosen career. From your application to the day you
                graduate, we are here to help you succeed every step of the way.
              </p>
              <a href="#" class="find-university">Find my university</a>
            </div>
          </div>
        </div>
        <!-- ignite your career -->

        <!-- Supporting you in your journey -->
        <div class="orderedComponent">
          <div class="row page-text-block-container">
            <div class="col-12 col-lg-8 col-xl-8">
              <h2
                style="
                  font-size: 30px;
                  line-height: 36px;
                  margin-top: 15px;
                  color: #333;
                "
              >
                Meet Haneet from India
              </h2>
            </div>
          </div>
        </div>
        <!-- Video -->
        <div class="l-video-block-container">
          <video
            poster="//ctfimages.intoglobal.com/xw2h6mjophtz/7CNvSspKXkcjkiWUeBpuBV/23d837bb862fd6bb6daaa00025e75ea0/2021_Image_Global_Alumni_Haneet_playhead.jpg?q=70&amp;w=1100"
            id="university-video"
            preload="metadata"
            controls=""
            width="100%"
            src="https://media.intostudy.com/video/upload/f_auto/q_auto/v1633616939/Marketing_Team/Global/Videos/Alumni/EN/2021_Video_Global_Haneet_Alumni_Social_1_2x1_en_sub.mp4"
          ></video>
        </div>
        <!-- committed to your success -->
        <div class="orderedComponent">
          <div class="row page-text-block-container">
            <div class="col-12 col-lg-8 col-xl-8">
              <p
                style="font-size: 18px; line-height: 30px; margin-bottom: 25px"
              >
                Haneet studied the Electrical and Computer Engineering Graduate
                Pathway at INTO CSU and progressed to an MS in Electrical and
                Computer Engineering at Colorado State University. Today Haneet
                is a Functional Safety Engineer at Magna Electronics in Detroit.
              </p>
              <a href="#" class="find-university" style="margin-bottom: 15px;">Find your perfect course</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
