{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- university list container -->
<div class="container-university-list">
    <div
            class="common-block-row"
    >
        <div class="col-lg-2">
            <div class="search-bar-countries">
                <h2 style="font-size: 24px;">Filter by</h2>
                <hr>
                <div class="search-bar-inner">
                    <legend>Country</legend>
                     {% for country in country %}
                 <div class="class-check-country" onclick="addUrlParameter('country', '{{ country.pk }}')" >
                    <input
                      type="checkbox"
                      id="{{ country.pk }}"
                      name="{{ country }}"
                      {% if request.GET.country == country.pk|stringformat:'i' %}checked{% endif %}

                    /><label class="" for="{{ country.pk }}"><span class=""> {{ country }}</span></label>
                  </div>
                {% endfor %}
                    <form action="">
                         <input
                            id="uniListSearchField"
                            class="university-filter"
                            type="text"
                            name="q"
                            value="{{ request.GET.q }}"
                            placeholder="Search by name"
                    />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="l-text-block">
                <h1 class="text-block-title">
                    Universities for international students
                </h1>
                <p class="text-block-comment">
                    Looking to study abroad? With 15+ years’ experience of finding
                    universities for international students, we’re confident we have a
                    university that’s right for you. Each of our universities is
                    unique, but they’re all focused on giving you the best education.
                    Choose below from leading universities in the UK, US, Australia
                    and China to find your perfect match.
                </p>
            </div>
            <!-- list of universities -->
            <div class="all-university-table-row">
                {% for university in stundets_universities %}
                <div class="filter-university-list-group col-xl-3 col-lg-4 col-sm-4">
                    <div class="university-title-content">
                        <a href="{% url 'uni:apply' %}" class="link-to-university">
                            <img class="main-img-university"
                                 src="https://ctfimages.intoglobal.com/xw2h6mjophtz/2lGKySzY5bp9mqyIdF6JOD/1794953125663f4d1e081a9244af918c/city-university-hero.jpg?q=75&fm=webP&h=300&w=300&fit=fill"
                                 alt="backg-img-university">
                            <p class="university-tile-content-title">{{ university.title }}</p>
                            <p class="university-tile-content-description">{{ university.descriptions }}</p>
                            <a href="{% url 'uni:apply' %}"> <span class="l-cta w-100">View more</span></a>
                            <img class="flag-country" alt="Flag"
                                 src="{{ university.country.image.url }}">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    function addUrlParameter(name, value) {
        let searchParams = new URLSearchParams(window.location.search);

        if (['country'].includes(name)) {
             searchParams.delete('?');
        }

        if (searchParams.has(name) && searchParams.get(name) === value) {
            searchParams.delete(name);
        } else {
            searchParams.set(name, value);
        }
        window.location.search = searchParams.toString()
    }
</script>
{% endblock %}